<p id="notice"><%= notice %></p>

<h1>Organisateurs</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>A propos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisateurs.each do |organisateur| %>
      <tr>
        <td><%= organisateur.title %></td>
        <td><%= organisateur.about %></td>
        <td><%= link_to 'Show', organisateur %></td>
        <td><%= link_to 'Edit', edit_organisateur_path(organisateur) %></td>
        <td><%= link_to 'Destroy', organisateur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisateur', new_organisateur_path %>
