<%= form_with(model: evenement, local: true) do |form| %>
  <% if evenement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evenement.errors.count, "error") %> prohibited this evenement from being saved:</h2>

      <ul>
      <% evenement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <input type="file"/>
  </div>
  <canvas width="400" height="200"></canvas>
  <img src="" id="pic" width="400" height="200">
  <script>
    $("document").ready(function() {
      $('input[type=file]')
          .on('change', function(f) {
              var file = f.target.files[0];
              if (file) {
                  var reader = new FileReader();
                  var image = new Image();
                  reader.onload = function(e) {
                      image.src = e.target.result;
                      var canvas = $('canvas')[0];
                      canvas.height = image.height;
                      canvas.width = image.width;
                      var ctx = canvas.getContext('2d');
                      ctx.drawImage(image, 0, 0);
                      var dataURL = canvas.toDataURL('image/png');
                      // console.log(dataURL);
                      $("#pic").attr("src",dataURL)
                      $("#picture").val(dataURL)
                  }
                  reader.readAsDataURL(file);
                  $('input[type=file]').val("")
              }
          });
    });
</script>
  <div class="field">
    <%= form.hidden_field :organisateur_id %>
  </div>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.hidden_field :category_id, value: "coucou" %>
  </div>

  <div class="field">
    <%= form.hidden_field :picture, value: "", id: "picture" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
