<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @evenement.titre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @evenement.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @evenement.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @evenement.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @evenement.category.name %>
</p>

<p>
  <strong>organisateur:</strong>
  <%= @evenement.organisateur.name %>
</p>

<%= link_to 'Edit', edit_evenement_path(@evenement) %> |
<%= link_to 'Back', evenements_path %>
